################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vs_proj/x64
/vs_proj/.vs
/vs_proj/librf.vcxproj.user
